

body{

background:cyan;
margin-top: 40px;

    
}
.container{
    width: 80%;
    margin-left: 30%;
}



#input{
    background-color: rgba(0, 0, 0, 0.63);
    
}
::placeholder{
    color: rgb(108, 13, 216);
}